Source: lagrange
Section: net
Priority: optional
Maintainer: Jaakko Keränen (skyjake) <jaakko.keranen@iki.fi>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.9),
               pkg-config,
               crossbuild-essential-amd64 [amd64] | crossbuild-essential-i386 [i386] | crossbuild-essential-arm64 [arm64] | crossbuild-essential-armhf [armhf],
               libsdl2-dev:any (>= 2.0.4),
               libtfdn-dev:any (>= 1.13.0),
               libwebp-dev:any,
               libopusfile-dev:any,
               libharfbuzz-dev:any,
               libfribidi-dev:any,
               libncursesw5-dev:any,
               libmpg123-dev:any,
               libjxl-dev:any
Standards-Version: 4.6.2
Homepage: https://gmi.skyjake.fi/lagrange/
Rules-Requires-Root: no

Package: lagrange-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Data files for the Lagrange Gemini client
 Lagrange is a browser for smallnet protocols like Gemini, Gopher,
 Finger, and Spartan.
 .
 This package contains the architecture-independent resources (fonts,
 translations, icons) shared by the lagrange and lagrange-curses-tui
 packages.

Package: lagrange
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, lagrange-common (= ${source:Version})
Description: Lagrange - A Beautiful Gemini Client
 Lagrange is a browser for smallnet protocols like Gemini, Gopher,
 Finger, and Spartan. It offers modern conveniences familiar from
 web browsers, such as smooth scrolling, inline image viewing, multiple
 tabs, visual themes, Unicode fonts, bookmarks, history,
 and page outlines.

Package: lagrange-curses-tui
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, lagrange-common (= ${source:Version}), libtfdn1
Description: clagrange - Lagrange with a text-based UI
 clagrange is a text-based (TUI) client for browsing Geminispace.
 It is equivalent to the GUI Lagrange except it renders to the
 terminal using Curses. It is well suited for use over SSH or
 in a plain text console.
